@tailwind base;
@tailwind components;
@tailwind utilities;

.fc .fc-scrollgrid-liquid {
    max-height: 85%;
    width: 100%;
}

.fc-v-event {
    background-color: #F9C784;
    border-width: 0 4px 4px 0 ;
    border-color: #FF8C42;
    border-radius: 5%;
    display: block;
}

.fc-direction-ltr{
    color: #FF8C42;
}

.fc-theme-standard .fc-scrollgrid {
    border: 0
}

.fc-header-toolbar .fc-toolbar {
    display: flex;
    justify-content: space-between;   
}

.fc-toolbar-title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}

.fc .fc-button-primary {
    background-color: #FCE3C2;
    border-color: #FCE3C2;
    color: white;
}

.fc .fc-button-primary:hover {
    background-color: #FF8C42;
    border-color: #FF8C42;
    color: white;
}


.tiptap {
    position: absolute;
    bottom: 30%;
    right: 10%;
  }